[submodule "extern/qfr"]
	path = extern/qfr
	url = https://github.com/pichristoph/qfr.git
	branch = feature/ecc
    shallow = true
[submodule "qfr"]
	path = qfr
	url = https://github.com/pichristoph/qfr
	branch = feature/ecc
